@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

.login-log {
    height: 100vh;
    display: flex;
}
.login-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #000;
}

.item-login {
    font-family: "Geologica", sans-serif;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #000;
    align-self: center;
    padding-left: 15px;
    
}

.label-login {
    font-family: "Geologica", sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}
.login-button {
    width: 50%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}